# Streamlit for web applications
streamlit==1.37.0

# LangChain dependencies
langchain-core==0.2.24
langchain-community==0.2.10 
langchain-google-vertexai==1.0.7
langchain-text-splitters==0.2.2
langchain==0.2.11 
